<p id="notice"><%= notice %></p>

<h1>Listing Precipitation Measurements</h1>

<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Elevation</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Date</th>
      <th>Ytd precip norm</th>
      <th>Ytd2013 precip</th>
      <th>Precip2013 diff</th>
      <th>Ytd2014 precip</th>
      <th>Precip2014 diff</th>
      <th>Ytd2015 precip</th>
      <th>Precip2015 diff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @precipitation_measurements.each do |precipitation_measurement| %>
      <tr>
        <td><%= precipitation_measurement.STATION %></td>
        <td><%= precipitation_measurement.ELEVATION %></td>
        <td><%= precipitation_measurement.LATITUDE %></td>
        <td><%= precipitation_measurement.LONGITUDE %></td>
        <td><%= precipitation_measurement.DATE %></td>
        <td><%= precipitation_measurement.YTD_PRECIP_NORM %></td>
        <td><%= precipitation_measurement.YTD2013_PRECIP %></td>
        <td><%= precipitation_measurement.PRECIP2013_DIFF %></td>
        <td><%= precipitation_measurement.YTD2014_PRECIP %></td>
        <td><%= precipitation_measurement.PRECIP2014_DIFF %></td>
        <td><%= precipitation_measurement.YTD2015_PRECIP %></td>
        <td><%= precipitation_measurement.PRECIP2015_DIFF %></td>
        <td><%= link_to 'Show', precipitation_measurement %></td>
        <td><%= link_to 'Edit', edit_precipitation_measurement_path(precipitation_measurement) %></td>
        <td><%= link_to 'Destroy', precipitation_measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Precipitation measurement', new_precipitation_measurement_path %>
